{% extends 'adoption/base.html' %}

{% block title %}{{ pet.name }}{% endblock %}

{% block page_content %}

<div class="text-right">
    <a href="{% url 'pet_list' %}" class="text-blue-500 font-bold text-2xl hover:text-blue-800"><<</a>
</div>



<div class="m-h-3/5 bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-4xl dark:border-gray-700 dark:bg-gray-800">
    <div class="mx-auto flex flex-col items-start bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-4xl dark:border-gray-800 dark:bg-gray-800">
        {% if pet.photo %}
            <img style="max-width: 300px;" class="rounded-lg" src="{{ pet.photo.url }}" alt="">
        {% endif %}
        <div class="flex flex-col justify-between p-5 leading-normal">
            <h5 class="mb-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">{{ pet.name }}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 pt-4">Species: {{ pet.species }}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Breed: {{ pet.breed }}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Age: {{ pet.age }}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Description: {{ pet.description }}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{% if pet.available %}Available{% else %}not available{% endif %} for adoption</p>
        </div>
        <div class="flex flex-col justify-between p-5 pl-10 pt-20 leading-normal">
            <h1 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-gray-300">Owner Information</h1>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><strong>Owner:</strong> {{ pet.owner.username }}</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><strong>Email:</strong> {{ pet.owner.email }}</p>
        </div>
    </div>
    <div class="p-5 relative">
        <h1 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-gray-300">Description</h1>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 min-h-[125px]">{{ pet.description }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="bottom-5 right-5 text-right">
            {% if user.is_authenticated and user != pet.owner %}
                <form method="post" action="{% url 'request_adopt' pet.id %}">
                    {% csrf_token %}
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Request for adoption
                    </button>
                </form>
            {% elif not user.is_authenticated %}
                <p><a href="{% url 'login' %}">Log in</a> to request adoption.</p>
            {% else %}
            <a href="{% url 'pet_update' pet.id %}">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Edit
                </button>
            </a>
            <a href="{% url 'pet_delete' pet.id %}">
                <button type="submit" class="text-white hover:bg-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-900 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Delete
                </button>   
            </a>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}
